<div class="recommendations">
    <div class="recommendation">
        <div class="recommendation-text">
During Ivan’s tenure with our team, I’ve had the opportunity to witness his good abilities in optimizing workflows, fostering a collaborative environment among team members, and efficiently managing CI/CD pipelines. These contributions have been integral to enhancing our team’s productivity, achieving project milestones, and ultimately contributing to the success of our initiatives. Thank you Ivan again for everything!        </div>
        <div class="recommendation-author">
            <div class="recommendation-author-info">
                <div class="recommendation-author-name">Reza Sardeha</div>
                <div class="recommendation-author-title">Founder</div>
            </div>
        </div>
    </div>

    <div class="recommendation">
        <div class="recommendation-text">
We worked with Ivan for about three years.

He started as a junior engineer, but very quickly grew to an experienced DevOps engineer. I can admit his AWS knowledge, it’s very comprehensive and he constantly improved it.

Ivan worked on quite large projects from the start and was responsible for their AWS architecture. I am personally, and our tech lead team was always happy with Ivan’s work.

Overall, Ivan was a valuable team member to our company, and I wish him all the best in his future’s career.        </div>
        <div class="recommendation-author">
            <div class="recommendation-author-info">
                <div class="recommendation-author-name">Dmytro Chekalin</div>
                <div class="recommendation-author-title">CEO @ Codica</div>
            </div>
        </div>
    </div>
